#HV-AMSACMX-App {
    position: relative;
    width: 600px;
    height: 830px;
}

#HV-AMSACMX-App canvas {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#HV-AMSACMX-App label,
#HV-AMSACMX-App select,
#HV-AMSACMX-App input,
#HV-AMSACMX-App ul,
#HV-AMSACMX-App li,
#HV-AMSACMX-App div {
    position: relative;
    z-index:10;
}

/*
 * 人体部位選択
 */

#HV-AMSACMX-App label.rightUpperLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 306px;   /* 任意の位置に調整 */
            left: 138px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App select.rightUpperLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 330px;   /* 任意の位置に調整 */
            left: 118px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App label.leftUpperLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 306px;   /* 任意の位置に調整 */
            left: 414px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App select.leftUpperLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 330px;   /* 任意の位置に調整 */
            left: 394px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App label.rightLowerLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 436px;   /* 任意の位置に調整 */
            left: 178px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App select.rightLowerLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 460px;   /* 任意の位置に調整 */
            left: 158px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App label.leftLowerLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 436px;   /* 任意の位置に調整 */
            left: 374px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App select.leftLowerLimb {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 460px;   /* 任意の位置に調整 */
            left: 354px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App label.bodyTrunk {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 336px;   /* 任意の位置に調整 */
            left: 285px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }
#HV-AMSACMX-App select.bodyTrunk {
            text-align: center;
            position: absolute; /* コンテナ内で絶対配置 */
            top: 360px;   /* 任意の位置に調整 */
            left: 260px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }

#HV-AMSACMX-App fieldset#IndicateAcMx {
            position: absolute; /* コンテナ内で絶対配置 */
            top: 520px;   /* 任意の位置に調整 */
            left: 400px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }

#HV-AMSACMX-App #AMS_AC_MX_Mode {
            position: absolute; /* コンテナ内で絶対配置 */
            left: 400px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }

/*
 * 回答
 */

#HV-AMSACMX-App #AnswersBodyAnatomy {
    position:absolute;
    top:380px;
    left:20px;
    z-index:20;
}

/*
 * 料金表
 */
#HV-AMSACMX-App #tableArea {
    position:absolute;
    top:490px;
    left:20px;
    z-index:20;
}


#HV-AMSACMX-App #tableArea table {
    border-collapse:collapse;
}
