#HV-AMSACMX-App {
    position: relative;
    width: 600px;
    height: 830px;
}

#HV-AMSACMX-App canvas {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#HV-AMSACMX-App label,
#HV-AMSACMX-App select,
#HV-AMSACMX-App input,
#HV-AMSACMX-App ul,
#HV-AMSACMX-App li,
#HV-AMSACMX-App div {
    position: relative;
    z-index:10;
}

/*
 * 人体部位選択
 */

#HV-AMSACMX-App #amsArea label{
    display:flex;
    flex-direction:column;
    gap:3px;
    z-index:10;
}

#HV-AMSACMX-App label.rightUpperLimb{
	position:absolute; /* コンテナ内で絶対配置 */
	top:306px;   /* 任意の位置に調整 */
	left:118px;  /* 任意の位置に調整 */
	width:120px;
	height:52px;
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App label.rightUpperLimb > span{
	position:absolute;
	left:20px;
	top:0;
}

#HV-AMSACMX-App label.rightUpperLimb > select{
	position:absolute;
	left:0;
	top:24px;
}

#HV-AMSACMX-App label.leftUpperLimb {
	position: absolute; /* コンテナ内で絶対配置 */
	top: 306px;   /* 任意の位置に調整 */
	left: 384px;  /* 任意の位置に調整 */
	width:120px;
	height:52px;
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App label.leftUpperLimb > span{
	position:absolute;
	left:20px;
	top:0;
}

#HV-AMSACMX-App label.leftUpperLimb > select{
	position:absolute;
	left:0;
	top:24px;
}

#HV-AMSACMX-App label.rightLowerLimb {
	position: absolute; /* コンテナ内で絶対配置 */
	top: 436px;   /* 任意の位置に調整 */
	left: 178px;  /* 任意の位置に調整 */
	width:120px;
	height:52px;
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App label.rightLowerLimb > span{
	position:absolute;
	left:20px;
	top:0;
}

#HV-AMSACMX-App label.rightLowerLimb > select{
	position:absolute;
	left:0;
	top:24px;
}

#HV-AMSACMX-App label.leftLowerLimb {
	position: absolute; /* コンテナ内で絶対配置 */
	top: 436px;   /* 任意の位置に調整 */
	left: 334px;  /* 任意の位置に調整 */
	width:120px;
	height:52px;
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App label.leftLowerLimb > span{
	position:absolute;
	left:20px;
	top:0;
}

#HV-AMSACMX-App label.leftLowerLimb > select{
	position:absolute;
	left:0;
	top:24px;
}

#HV-AMSACMX-App label.bodyTrunk {
	position: absolute; /* コンテナ内で絶対配置 */
	top: 336px;   /* 任意の位置に調整 */
	left: 255px;  /* 任意の位置に調整 */
	width:120px;
	height:52px;
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App label.bodyTrunk > span{
	position:absolute;
	left:20px;
	top:0;
}

#HV-AMSACMX-App label.bodyTrunk > select{
	position:absolute;
	left:0;
	top:24px;
}

#HV-AMSACMX-App fieldset#IndicateAcMx {
	position: absolute; /* コンテナ内で絶対配置 */
	top: 520px;   /* 任意の位置に調整 */
	left: 400px;  /* 任意の位置に調整 */
	z-index: 10; /* canvasより前面に表示 */
}

#HV-AMSACMX-App #AMS_AC_MX_Mode {
            position: absolute; /* コンテナ内で絶対配置 */
            left: 400px;  /* 任意の位置に調整 */
            z-index: 10; /* canvasより前面に表示 */
        }

/*
 * 回答
 */

#HV-AMSACMX-App #AnswersBodyAnatomy {
    position:absolute;
    top:380px;
    left:20px;
    z-index:20;
}

/*
 * 料金表
 */
#HV-AMSACMX-App #tableArea {
    position:absolute;
    top:490px;
    left:20px;
    z-index:20;
}


#HV-AMSACMX-App #tableArea table {
    border-collapse:collapse;
}
